# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# All files settings
[*]
charset = utf-8
indent_size = 4
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# MarkDown specific settings
[*.md]
trim_trailing_whitespace = false