.login-page, .register-page {

  background: transparent;

  .wrapper {
    background-color: transparent;
    overflow-y: scroll;
  }

  /**
   *  HideShowPassword plugin
   */

  .hideShowPassword-wrapper {
    button {
      right: 25px!important;
    }
  }

  &.fixed {
    .content-wrapper {
      min-height: 100vh;
    }
  }

  .content-wrapper {

    min-height: 200px;

    .content {
      width: 100%;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .login-box, .register-box {

      .login-logo {
        b {
          font-weight: 400;
        }
      }

    }

  }

}